extends layout
script(src='//cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js')
script.
    $(document).ready(function() {
      $('#resultTable').DataTable({'searching':true});
    });
block content
  div.collapse.navbar-collapse(id='search-buttons')
    ul.nav.navbar-nav.navbar-left
      li
        h3 Searchs
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/search/add') Add Search
      li
        a(href='/search/searchFilter') Search by filter option
  div
  table#resultTable.table.table-hover.datatables
    thead
      tr
        th Name
        th Url
    tbody
      each data, i in list
        tr 
          td
            Name - #{data.name} 
          td
            URL - #{data.url}